@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/***********************************  <Drop down search box>  ***************************************/

::placeholder {
  font-size: 14px;
  color: white;
}

header .contact-num-wrapper .fa-search {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.header-wrapper .dropdown-search {
  position: absolute;
  top: 6.03rem;
  left: 0px;
  width: 100%;
  background-color: #232728;
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: none;
  border-top: 1px solid #fff;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-search {
  width: 80%;

  background-color: #232728;
  border-bottom: 1px solid #716850;
  color: white;
}

.dropdown-search input {
  background-color: #fff;

  border: none;
  border-bottom: 1px solid #736a51;

  color: white;
  font-size: 16px;
  outline: none;
  background-color: #232728;
  padding-bottom: 10px;
}

#search-btn {
  background-color: #232728;
  border: none;
  padding-right: 1rem;
}

#search-btn .fa-search {
  color: rgb(202, 202, 202);
}

.header-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 8%;
  width: 8rem;
}

/***********************************  <Drop down search box/>  ***************************************/

.contact-num {
  display: none;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 44;
  height: 6rem;
  transition: 0.5s;
}

header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  z-index: 10;
  transition: 0.5s;
}

.logo {
  width: 200px;
  height: auto;
  margin-right: 1rem;
}

/*hamburger container*/
.hamburger {
  cursor: pointer;

  text-align: center;
}

.hamburger p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
/*hamburger bars created with css*/
.hamburger .bar-1 {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 8px;
  transition: 0.2s ease;
  border-radius: 2px;
}

nav {
  display: flex;

  position: absolute;
  top: 6rem;
  left: -20rem;

  width: 20rem;
  height: 100vh;
}

nav .menu {
  display: block;
  list-style-type: none;
  width: 100%;
  background-color: #f0f0f0;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
}

nav .menu li {
  border-bottom: 1px solid rgb(218, 217, 217);
}

nav .menu li a {
  display: flex;
  color: #2b3746;
  cursor: pointer;
  font-weight: 500;
  justify-content: left;
  font-weight: bold;
  height: 100%;
  font-size: 15px;
  text-decoration: none;
  color: #3c2157;
  padding: 1rem;
  transition: 0.3s;
}

nav .menu li a:hover {
  color: #af9644;
}

.inverted {
  background-color: #232728;
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}

/***********************************  <Drop down Menu MOBILE>  ***************************************/

.dropdown-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-new-cars:hover {
  display: block;
}

.new-cars:hover ~ .dropdown-new-cars {
  display: block;
}

.dropdown-pre-owned:hover {
  display: block;
}

.pre-owned:hover ~ .dropdown-pre-owned {
  display: block;
}

.dropdown-service-parts:hover {
  display: block;
}

.service-parts:hover ~ .dropdown-service-parts {
  display: block;
}

.fa-caret-down {
  margin-left: 0.4rem;
}

/***********************************  <Drop down Menu MOBILE/>  ***************************************/

@media screen and (min-width: 1115px) {
  /***********************************  <Drop down search box>  ***************************************/

  .header-icons-wrapper {
    width: 10rem;
  }

  .dropdown-search input {
    width: 50%;
  }

  header .contact-num-wrapper .fa-search {
    font-size: 20px;
    cursor: pointer;
  }

  .header-wrapper .dropdown-search {
    top: 7.06rem;
    border: none;
    display: none;
  }

  .site-search {
    width: 50%;
  }

  /***********************************  <Drop down search box/>  ***************************************/

  .header-wrapper {
    height: 7rem;
  }

  header {
    height: 7rem;
    box-shadow: 0 6px 12px rgb(0 0 0 / 5%);
    border-bottom: 1px solid #e6e6e6;
    padding-left: 3%;
    padding-right: 3%;
  }

  header .contact-num-wrapper {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 8%;
    width: 11rem;
  }

  .contact-num {
    display: block;
  }

  nav {
    position: absolute;

    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 50%;

    height: 7rem;
    display: flex;
    align-items: center;
  }
  nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: inherit;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  nav .menu #enquire-link {
    text-decoration: none;
  }

  nav .menu li {
    border: none;
  }

  nav .menu li a {
    cursor: pointer;
    font-weight: 500;

    font-weight: bold;
    margin-top: 2rem;
    height: 3rem;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }

  /***********************************  <Drop down Menu DESKTOP>  ***************************************/

  .dropdown-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    top: 6.99rem;
    padding: 0;
    margin: 0;
    padding: 1rem;
    font-family: sans-serif;
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    background-color: #232728;
    display: none;
  }

  nav .menu .list-items a {
    display: block;

    height: 0;
    padding: 0.5rem;
    line-height: 0px;
    font-size: 16px;
    color: rgb(221, 219, 219);
    font-weight: 200;
    letter-spacing: 0.03rem;
  }

  nav .menu .list-items .view-all-link {
    font-size: 18px;
    font-weight: 200;
  }

  .new-cars,
  .pre-owned,
  .service-parts {
    display: flex;
    flex-direction: column;
  }

  .fa-caret-down {
    margin: 0;
    text-align: center;
    margin-top: 0.4rem;
    width: 100%;

    color: rgb(184, 184, 184);
  }

  /***********************************  <Drop down Menu DESKTOP/>  ***************************************/

  .logo {
    width: 240px;
    height: auto;
  }

  .hamburger {
    display: none;
  }
}
