.hero {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../images/E-GOLF.webp);
  width: 100%;
  height: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-title {
  position: absolute;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 6.5rem;
}

.hero .hero-title h1 {
  color: #fff;
  font-size: 3rem;

  font-weight: 300;
  line-height: 1.2;
}

.hero .hero-title h2 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  display: none;
}

.btn-wrapper {
  display: flex;

  flex-wrap: wrap;
  width: 100%;
}

.hero .hero-title #enquire-btn {
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.3s;
  border: 0.125rem solid #af9644;
  border-radius: 1.875rem;
  color: #fff;

  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.002em;
  line-height: 1;
  padding: 0.75rem 3.9375rem 0.8125rem 2.0625rem;
  text-decoration: none;
}

#enquire-btn:hover .icons-wrapper-2 {
  margin-right: -40px;
}

.hero .hero-title #enquire-btn {
  border: 0.125rem solid #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  margin-top: 1rem;
  width: 130px;
}

.hero-title .icons-wrapper-2 {
  transform: rotate(-90deg);
  display: flex;
  margin-right: -30px;
  transition: 0.3s ease-in-out;
}

.icons-wrapper-2 .scroll-icon-1-1,
.scroll-icon-2-1 {
  margin: -4px;
  width: 11px;
  height: 3.1px;
  background-color: #36331c;
  border-radius: 2px;
  background-color: #fff;
}

.icons-wrapper-2 .scroll-icon-1-1 {
  transform: rotate(45deg);
  margin-right: -1px;
}

.icons-wrapper-2 .scroll-icon-2-1 {
  transform: rotate(-45deg);
}


.hero .scroll-wrapper {
  align-self: flex-end;
  height: 4.5rem;
  background-color: rgba(175, 150, 68, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero .scroll-wrapper .icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #d7d7d2;
}

.hero .scroll-wrapper .icons-wrapper .scroll-icon-1,
.scroll-icon-2 {
  margin: -4px;
  width: 18px;
  height: 5px;
  background-color: #36331c;
  border-radius: 2px;
}

.hero .scroll-wrapper .icons-wrapper .scroll-icon-1 {
  transform: rotate(45deg);
}

.hero .scroll-wrapper .icons-wrapper .scroll-icon-2 {
  transform: rotate(-45deg);
}

.grid-container-1-2-wrapper {
  margin-top: -2rem;
}

.grid-container-1-2 {
  display: grid;
  width: 95%;
  padding-bottom: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  gap: 20px;
  text-align: left;

  margin: auto;
  overflow: hidden;
}

/*    This will reverse the columns for mobile because on desktop they are staggered from left to right. So both grid and flex are applied on this container*/
.reverse-items {
  display: flex;
  flex-direction: column-reverse;
}

.grid-container-1-2 p {
  margin-left: 0;
  line-height: 1.7rem;
}

.grid-container-1-2 .grid-items {
  background-color: #fff;
  transition: 0.3s;
  position: relative;
  width: 100%;
}

.grid-container-1-2 .grid-items .internal-border {
  position: absolute;
  top: 5%;
  left: 3.2%;
  width: 83%;
  height: 83%;
  border: 1px solid #fff;
}

.grid-container-1-2 .grid-items .img-1 {
  width: 90%;
  height: auto;
  margin-bottom: 1rem;
}

.grid-container-1-2 .grid-items .img-2 {
  position: absolute;
  right: 5%;
  bottom: -12px;
  width: 50%;
  height: auto;
  border: 2px solid rgb(207, 207, 207);
}

.grid-container-1-2 .golf-charger-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.grid-container-1-2 .golf-charger-images {
  margin-top: 3rem;
}

.grid-container-1-2 .golf-charger-desc {
  font-size: 1rem;
  font-weight: 600;
}

/*   intersection observer for elements*/


.grid-container-1-2 .intersect {
  transform: translateX(20px);
  transition: 0.7s ease;
  opacity: 0;
}
.grid-container-1-2 .show {
  transform: translateX(0);
  transition: 0.7s ease;
  opacity: 1;
}

.e-golf-desc .intersect {
  transform: translateX(5px);
  transition: 0.7s ease;
  opacity: 0;
}
.e-golf-desc .show {
  transform: translateX(0);
  transition: 0.7s ease;
  opacity: 1;
}

.icons-container .intersect {
  transform: translateY(20px);
  transition: 0.7s ease;
  opacity: 0;
}
.icons-container .show {
  transform: translateY(0);
  transition: 0.7s ease;
  opacity: 1;
}



.register-btn {
  display: flex;
  justify-content: space-between;
  border: 0.2rem solid rgb(73, 73, 73);
  border-radius: 1.875rem;

  width: 160px;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.002em;
  line-height: 1;
  color: black;
  padding: 0.75rem 3.9375rem 0.8125rem 2.0625rem;
  text-decoration: none;
  margin-top: 3rem;
}



.register-btn .icons-wrapper-3 {
  display: flex;
  transform: rotate(-90deg);
  margin-right: -30px;
  transition: 0.3s ease-in-out;
}

.register-btn:hover .icons-wrapper-3 {
  margin-right: -40px;
}

.register-btn .icons-wrapper-3 .scroll-icon-1-2,
.scroll-icon-2-2 {
  margin: -4px;
  width: 11px;
  height: 3.1px;
  background-color: black;
  border-radius: 2px;
}

.register-btn .icons-wrapper-3 .scroll-icon-1-2 {
  transform: rotate(45deg);
  margin-right: -1px;
}

.register-btn .icons-wrapper-3 .scroll-icon-2-2 {
  transform: rotate(-45deg);
}



.e-golf-desc {
  display: grid;
  width: 95%;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-bottom: 4rem;
  row-gap: 20px;
  gap: 20px;
  text-align: left;

  margin: auto;
}

.e-golf-desc .grid-items {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-bottom: 1rem;
}

.e-golf-desc .grid-items p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.e-golf-desc .grid-items .read-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.5rem;
}

.e-golf-desc .grid-items .read-more {
  display: none;
}

.e-golf-desc .grid-items .read-more-wrapper {
  cursor: pointer;
 
}

.e-golf-desc .grid-items .read-more-wrapper:hover .read-more-btn,
.e-golf-desc .grid-items .read-more-wrapper:hover .down-icon {
  color: rgb(36, 36, 36);
}

.e-golf-desc .grid-items .read-more-wrapper .read-more-btn {
  font-family: "Raleway", sans-serif;
  color: rgb(66, 66, 66);
  font-weight:600
  
}

.e-golf-desc .grid-items .read-more-wrapper .down-icon {
 
  transition: 0.3s;
  color: rgb(126, 126, 126);
}

.icons-container {
  width: 60%;
  padding-bottom: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  gap: 80px;

  display: grid;
  margin: auto;
}

.icons-container .icon-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  margin: auto;
}

.icons-container .icon-wrap div {
  width: 50%;
  height: auto;
}
.icons-container .icon-wrap img {
  width: 60%;
  height: auto;
}

.icons-container .icon-wrap span {
  width: 50%;
  font-size: 1rem;
  font-weight: 600;
}

#team-img {
  width: 100%;
  margin-top: 2rem;
}

.team-description {
  width: 95%;
  margin: auto;
  margin-top: 4rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(117, 117, 117);

  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #232728;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #131414;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.form-container h4 {
  font-family: arial;
  text-align: center;
  color: rgb(14, 119, 14);
}

.form-container #subject {
  margin-top: 1.4rem;
}

.form-container #message {
  color:rgb(5, 155, 5);
  width:80%;
  font-size:14px;
  text-align:center;
  margin:auto
}

@media screen and (min-width: 370px) {
}

@media screen and (min-width: 550px) {
  .hero .hero-title {
    top: 1rem;
    width: 70%;
    height: auto;
  }

  .hero .hero-title h1 {
    font-size: 3.125rem;
  }

  .hero .hero-title h2 {
    font-size: 1.375rem;
    display: block;
  }

  .grid-container-1-2-wrapper {
    margin: 0;
  }

  .grid-container-1-2 .golf-charger-images {
    width: 500px;
    height: auto;
    margin: auto;
  }

  .grid-container-1-2 .grid-items {
    margin-top: 4rem;
  }

  .grid-container-1-2 .grid-items .img-2 {
    width: 45%;
    height: auto;
  }

  .grid-container-1-2 .golf-charger-content {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .e-golf-desc {
    width: 80%;
  }
}

@media screen and (min-width: 760px) {
  .hero .hero-title {
    width: 500px;
  }

  .hero .scroll-wrapper {
    height: 7rem;
  }

  .hero .hero-title {
    left: 4rem;
  }

  .btn-wrapper {
    display: flex;

    flex-wrap: nowrap;
    width: 100%;
  }

  .icons-container {
    width: 95%;
    justify-content: space-between;
    text-align: center;
  }

  .icons-container .icon-wrap span {
    width: 100%;
  }

  .e-golf-desc {
    grid-template-columns: 1fr 1fr;
  }

  .icons-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .icons-container .icon-wrap {
    width: 90%;
    margin-top: 3rem;
  }

  .team-description {
    width: 70%;
  }

  .form-container {
    width: 70%;
  }
  .form-container {
    width: 50%;
  }
}

@media screen and (min-width: 1030px) {
  .hero {
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero .hero-title {
    margin-top: 8rem;
  }

  .grid-container-1-2 {
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    padding-bottom: 2rem;
    gap: 30px;
    column-gap: 90px;
  }



  .grid-container-1-2 p, .e-golf-desc .grid-items p, .e-golf-desc .grid-items p{

    line-height:2rem
  }


  .icons-container .icon-wrap span {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1180px) {
  .grid-container-1-2 {
    width: 90%;
    gap: 2rem;
    margin-top: -1.8rem;
    padding-bottom: 6rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgb(196, 195, 195);
  }

  /* sets the initial flex rule back to grid*/
  .reverse-items {
    display: grid;
  }

  .grid-container-1-2 .grid-items {
    width: 100%;
  }

  .grid-container-1-2 p {
    font-size: 14px;
  }

  .grid-container-1-2 .golf-charger-content {
    margin-top: 4rem;
    width: 500px;
  }

  .grid-container-1-2 .golf-charger-images {
    width: 500px;

    height: auto;
    margin: auto;
  }

  .e-golf-desc {
    gap: 4rem;
  }

  .icons-container {
    margin: 0;
    padding: 0;

    width: 80%;
    margin: auto;
  }

  .icons-container .icon-wrap {
    margin: 0;
    padding: 0;
    margin-top: 3rem;
  }

  .icons-container .icon-wrap span {
    width: 60%;
    margin: 0;
    font-size: 1rem;
  }

  .icons-container .icon-wrap img {
    width: 50%;
    height: auto;
  }

  #team-img {
    margin-top: 7rem;
  }
}
