/* wrapper placed around .slick-slider so that I can easily center next and prev button vertically
and keep them centered when images grow or shrink  */

.slick-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  overflow: hidden;
}

.slick-slider {
  display: flex;

  width: 100%;

  margin: auto;
}

.slick-slider-1 {
  display: flex;

  width: 100%;

  margin: auto;
}

/* set width on images because slick.css cannot target img and set image width 
  once we wrap img tags with figure and anchor tags*/
.slick-slider img {
  width: 100%;
  cursor: grab;
  margin: auto;
}

.slick-slider-1 img {
  width: 100%;
  cursor: grab;
  margin: auto;
}

/* prev and next buttons were not created or styled from slick.css cdn. They were created on index.html and styled on this style
   sheet.  */

.next,
.prev,
.next-1,
.prev-1 {
  position: absolute;
  border: none;

  background-color: transparent;
  height: 40px;
  width: 40px;

  z-index: 1;
  margin: 0px;
  cursor: pointer;
  margin-top: -30px;
}

.next,
.next-1 {
  right: 0px;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover {
  font-size: 33px;
}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 30px;
  color: rgb(110, 110, 110);
}

/* position the dots*/
.slick-slider ul {
  position: relative;
  top: -50px;
  text-align: center;
}

/* dots are created with slick and then styles modified on this style sheet*/

.slick-slider ul.slick-dots li button:before {
  background-color: black;
  height: 12px;
  width: 12px;

  border-radius: 100%;
  font-size: 0px;
  color: rgb(58, 58, 58);
}

.slick-slider ul.slick-dots li button {
  background-color: grey;
  border-radius: 100%;
  height: 12px;
  width: 12px;
}

.slick-slider-1 ul.slick-dots li button:before {
  background-color: black;
  height: 12px;
  width: 12px;

  border-radius: 100%;
  font-size: 0px;
  color: rgb(58, 58, 58);
  margin-top: 50px;
}

.slick-slider-1 ul.slick-dots li button {
  background-color: grey;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  margin-top: 50px;
}

@media screen and (min-width: 550px) {
  .slick-slider-1 img {
    width: 70%;
  }

  .slick-slider img {
    width: 85%;
  }

  .next,
  .prev,
  .next-1,
  .prev-1 {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 800px) {
  .slick-slider img {
    width: 50%;
  }
}

@media screen and (min-width: 1190px) {
  .slick-slider img {
    width: 100%;
  }

  .slick-slider-1 img {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .slick-slider ul.slick-dots li button:before {
    display: none;
  }

  .slick-slider ul.slick-dots li button {
    display: none;
  }
}
