.table-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 6rem;
  right: 0;
  background-color: white;
  z-index: 10;
  
 display: none;
 
}

.table-container .table-wrapper {
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:9rem;
  overflow: scroll;
 
}

.close-icon {
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
 margin-left:3%;
 margin-bottom:1rem;
  color: black;
}

#loading {
  position: relative;
  top: -3rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  
}

.responsive-table {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  border-spacing: 0;
  margin: auto;
  
}

thead tr th {
  padding: 0.5rem;
}

tr th {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0;
}

.top-header {
  background-color: black;
  color: white;
}

tbody td {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0;
}

@media screen and (min-width: 550px) {
  .responsive-table {
    width: 90%;
  }

  thead tr th {
    padding: 1rem;
  }

  tbody th {
    padding: 1rem;
  }

  tbody th {
    padding: 1rem;
  }

 

}

@media screen and (min-width: 750px) {
  .responsive-table {
    width: 80%;
  }

  .close-icon {
 
    margin-left:9%;
    
   }
 

}

@media screen and (min-width: 1115px) {
  .table-container {
    top: 7rem;
  }
}
